{
    "$schema":"https://raw.githubusercontent.com/F5Networks/f5-declarative-onboarding/master/schema/base.schema.json",
    "schemaVersion": "1.3.0",
    "class": "Device",
    "async": true,
    "label": "BIG-IP VE cluster vmware",
    "Common": {
        "class": "Tenant",
        "hostname": "{{ item.hostname}}",
        "myLicense": {
            "class": "License",
            "hypervisor": "vmware",
            "licenseType": "licensePool",
            "bigIqHost": "{{bigiq.host}}",
            "bigIqUsername": "{{bigiq.user}}",
            "bigIqPassword": "{{bigiq.password}}",
            "licensePool": "{{bigiq.licensepool}}",
            "reachable": true,
            "bigIpUsername": "{{provider.user}}",
            "bigIpPassword": "{{provider.password}}"
        },
        "myDns": {
            "class": "DNS",
            "nameServers": {{item.dns.servers}},
            "search": {{item.dns.search}}
        },
        "myNtp": {
            "class": "NTP",
            "servers": {{ item.ntp.servers}},
            "timezone": "{{item.ntp.timezone}}"
        },
        "myProvisioning": {
        	"class": "Provision",
        	"avr": "{{item.provisioning.avr}}",
            "ltm": "{{item.provisioning.ltm}}",
            "asm": "{{item.provisioning.asm}}",
            "apm": "{{item.provisioning.apm}}",
            "afm": "{{item.provisioning.afm}}"
        },
        "external": {
            "class": "VLAN",
            "tag": {{item.network.vlans.external.tag}},
            "mtu": 1500,
            "interfaces": [
                {
                    "name": "{{item.network.vlans.external.interface}}",
                    "tagged": {{item.network.vlans.external.tagging}}
                }
            ]
        },
        "internal": {
            "class": "VLAN",
            "tag": {{item.network.vlans.internal.tag}},
            "mtu": 1500,
            "interfaces": [
                {
                    "name": "{{item.network.vlans.internal.interface}}",
                    "tagged": {{item.network.vlans.internal.tagging}}
                }
            ]
        },
        "ha": {
            "class": "VLAN",
            "tag": {{item.network.vlans.ha.tag}},
            "mtu": 1500,
            "interfaces": [
                {
                    "name": "{{item.network.vlans.ha.interface}}",
                    "tagged": {{item.network.vlans.ha.tagging}}
                }
            ]
        },
        "external-self":{
            "class": "SelfIp",
            "address": "{{item.network.vlans.external.selfipnf}}",
            "vlan": "external",
            "allowService": "none",
            "trafficGroup": "traffic-group-local-only"
        },
        "external-float":{
            "class": "SelfIp",
            "address": "{{item.network.vlans.external.selfipf}}",
            "vlan": "external",
            "allowService": "none",
            "trafficGroup": "traffic-group-1"
        },
        "internal-self": {
            "class": "SelfIp",
            "address": "{{item.network.vlans.internal.selfipnf}}",
            "vlan": "internal",
            "allowService": "none",
            "trafficGroup": "traffic-group-local-only"
        },
        "internal-float": {
            "class": "SelfIp",
            "address": "{{item.network.vlans.internal.selfipf}}",
            "vlan": "internal",
            "allowService": "none",
            "trafficGroup": "traffic-group-1"
        },
        "ha-self": {
            "class": "SelfIp",
            "address": "{{item.network.vlans.ha.selfipnf}}",
            "vlan": "ha",
            "allowService": "default",
            "trafficGroup": "traffic-group-local-only"
        },
        "default_gw":{
            "class": "Route",
            "gw": "{{item.network.routes.default.gateway}}",
            "network": "default",
            "mtu": 1500
        },
        "dbvars": {
            "class": "DbVariables",
            "ui.advisory.enabled": true,
            "ui.advisory.color": "green",
            "ui.advisory.text": "/Common/hostname"
        },
        "configsync": {
            "class": "ConfigSync",
            "configsyncIp": "/Common/ha-self/address"
        },
        "failoverAddress": {
            "class": "FailoverUnicast",
            "address": "/Common/ha-self/address"
        },
        "failoverGroup": {
            "class": "DeviceGroup",
            "type": "sync-failover",
            "members": [
                "{{item.dsc.primary.host}}","{{item.dsc.secondary.host}}"
            ],
            "owner": "/Common/failoverGroup/members/0",
            "autoSync": true,
            "saveOnAutoSync": true,
            "networkFailover": true,
            "fullLoadOnSync": false,
            "asmSync": false
        },
        "trust": {
            "class": "DeviceTrust",
            "localUsername": "{{provider.user}}",
            "localPassword": "{{provider.password}}",
            "remoteHost": "{{item.dsc.primary.ip}}",
            "remoteUsername": "{{provider.user}}",
            "remotePassword": "{{provider.password}}"
        }
    }
}